.header {
  margin: 120px;
  margin-top: 40px;
  padding-bottom: 120px;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 40px;
  background-color: #070a63;
}

.header-content h1 {
  font-size: 6.5rem;
  /* font-weight: 900; */
  color: #dedee0;
  /* margin-bottom: 1rem; */
  margin-left: 20%;
  margin-top: 4%;

}

.header-content p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #dedee0;
  margin-top: 2%;
  margin-left: 12%;
  margin-right: 5%;
}

.header button {
  margin-left: 12%;
  margin-top: 2%;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 300;
  color: #dedee0;
  background-color: #070b8b;
  border: 2px solid #dedee0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.headerContainer{
  display: flex;
  justify-content: center;
  align-items: center;

  padding:5px;
  height: 75px;
  backdrop-filter: blur(30px);
  box-shadow: rgba(227, 228, 237, 0.37) 0px 0px 30px;
}
.company{
  display: flex;
  align-items: center;
  margin-left: -123px;
  
}
.companyName{
  color:transparent;
  background: linear-gradient(to right,blue,rgb(134, 32, 230) );
  -webkit-background-clip: text;
  font-size: 30px;
  font-weight: bold;
  margin-right: 100px;
 
}

.imageLogo{
  height: 56px;
  border-radius: 50%;
  margin-right: 0;
  margin-left: 6px;
}
.imageLogo:hover{
  border-radius: 50%;
   scale: 1.3;
   margin:23px;
   transition-duration: 200ms;
}
.itemContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  list-style: none;
  padding:5px;

gap:71px;
 color: white;
}



.items a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.items a:hover{
  cursor: pointer;
  color:rgb(38, 119, 205);
  transition-duration: 200ms;
}
.buttonContainer{
  margin-left: 200px;
}
.login{
  color: white;
  padding: 10px;
  font-size:18px;
  font-weight: bold;
  background-color: rgb(10, 84, 126);
  border:2px solid white;
  border-radius: 50px;
}
.login:hover{
  cursor: pointer;
  scale: 1.1;
  transition-duration: 300ms;
  background-color: rgb(38, 119, 205);
}