
.topicContent{
  display: flex;
  align-items: center;
  flex-direction: row;
  
}
.description{
  border-radius: 25px;
   backdrop-filter: blur(30px);
   box-shadow: #49c3ec 0px 0px 30px;
  padding: 33px;
  margin: 10px;
  font-size: 30px;
  margin:20px 60px;
  color: #fbf6f6;
      font-weight: 500;
     
}

.Heading{
  color:#f2f2f2;
  font-size: 39px;
padding: 10px;
border-radius: 15px;
backdrop-filter:blur(30px);
box-shadow: #c0dce6 0px 0px 30px;
margin-bottom: 30px;
border-bottom: 5px solid black;
display:inline-block;
transition: all 0.2s ease-in-out 0ms;
  
}
.Heading:hover{
 scale:1.1;
 color:#daf8af;
 box-shadow: #B0ADFF 0px 0px 30px;
}
.logo{
  margin-left:80px ;
margin-inline-end: 15px;
}

.subheading{
  text-align: center;
  margin: 10px;
}

.features{
  text-align: center ;
  font-size: 25px;
  margin:20px 60px;
  padding: 30px;
  color: #ffffff;
  border:2px solid ;
  border-radius: 25px;
   backdrop-filter: blur(30px);
   box-shadow: #49c3ec 0px 0px 20px;

}
.advantage{
  text-align: center ;
  font-size: 25px;
  margin:20px 60px;
  padding: 30px;
  color: #f3e9e9;
  border:2px solid ;
  border-radius: 25px;
   backdrop-filter: blur(30px);
   box-shadow: #49c3ec 0px 0px 20px;

}
.useCase{
  text-align: center ;
  font-size: 25px;
  margin:20px 60px;
  padding: 30px;
  color: #f3e9e9;
  border:2px solid ;
  border-radius: 25px;
   backdrop-filter: blur(30px);
   box-shadow: #49c3ec 0px 0px 20px;
 
 
}
.features, .advantage ,.description , .useCase ,.Links{
  line-height: 3.6rem;
}
.resourceContainer {
  display: flex;
  flex-direction: column; 
  
}
.logoLink{
  display: flex;
  flex-direction: row;
  gap:10px;
}
.logoLink img{
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
}
.Links {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 60px;
  padding: 8px;
  color: #f3f3f3;
  border: 2px solid;
  border-radius: 25px;
  backdrop-filter: blur(30px);
  box-shadow: #49c3ec 0px 0px 20px;
  padding: 30px;
}

.Links h1 {
  text-align: center;
}
.navbarContainer {
  position: sticky; 
  top: 0; 
  width: 100%; 
  z-index: 9999; 
  background-color: #fff;
  border-bottom: 2px solid #ccc;
}
.topicContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0; 
  list-style: none;
  padding: 0;
  width: 100%;
  align-items: center; 
  background:linear-gradient(to right , white,grey);
}

.topicLinks {
  text-decoration: none;
  padding: 0; 
  color: #000000;
  font-size: 25px;
  font-weight: 500;
  border-radius: 8px;
  margin: 0 10px; 
}
.topicLinks:hover {
  color: #ffffff;
  background-color: #212529;
  border-radius: 8px;
  padding: 10px 15px; 
  transition: all 0.3s ease-in-out 0ms;
}
.nav-arrow {
  font-size: 30px;
  color: rgb(0, 0, 0);
  transition: transform 0.3s ease;
}

.nav-arrow:hover {
  transform: scale(1.2);
}
